
/* inicio de estilos NAV */
.navbar {
    background-color: #1D6AB0;
}

nav>a, .icone {
    color: white;
}

a:hover {
    color:black;
}

img {
    width: 12%;    
}

/* inicio de estilos section 1 */
h3 { 
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #484848;
}

/* inicio de estilos section 2 */
.btn-logar {
    background-color: #ACACAC;
    color: white;
    font-style: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.08em;
    padding: 20px;
}

.form-control {
    padding: 5px;
    border: none;
    border-bottom: 1px solid #CCC;
    width: 100%;   
}

.btn-cadastre {
    font-style: normal;
    font-size: 14px;
    width: 30%;
    color: #ACACAC;
    background-color:white;  
}

h5 {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.08em;
    text-align: center;
    color: #C4C0C0;
}

.div-form {
    font-size: 12px;
}

.separador {
    display: block;
    color: #ACACAC;
    text-align: center;
}



/* CSS DESKTOP */
@media (min-width: 768px) {
    body {
      background-color:white;
    }
    .containerDesktop {
      max-width: 60vw;
      margin: auto;
    }
    }







    






