body {
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: "Roboto", sans-serif;
    height: 100%;
    padding-bottom: 10vh;
}

/* INICIO DO CSS APLICADO SOMENTE A ABA_MENU */
.nav-item a {
    color: #121212;
  }
  
  .iconeNav:hover {
    color: #ffffff;
  }
/* FIM DO CSS APLICADO SOMENTE A ABA_MENU */

/* CSS NAV SUPERIOR
.navbar-brand > img {
    width: 35px;
}

.navbar {
    background-color: #1D6AB0;
    height: 10vh;
}

.navbar a {
    color: #ffffff;
} */

/* CSS NAV SUPERIOR  */

.navbar-brand > img {
    width: 35px;
  }
  
  .navbar {
    background-color: #1d6ab0;
  }
  
  .navbar a {
    color: #ffffff;
  }
  
  .navbar-brand {
    margin: 0;
  }
  
  .nav-link,
  .iconeNav {
    padding: .75rem 0;
  }
  

/* CSS Foto da Capa */
.capa img {
    padding: 0;
    height: 25vh;
    object-fit: cover;
    width: 100%;
}

/* CSS Foto do Usuário, Botões e Descrição */
.usuario-foto {
    position: absolute;
    margin-top:-50px;
}

.usuario-botoes i {
    color: #7C7C7C;
}

    /* Área clicável */
.usuario-botoes a {
    padding: 18px;
}

.usuario-local i {
    color: #7C7C7C;
}

/* CSS NAV INFERIOR
.nav-inferior {
    background-color: #ffffff;
    height: 7vh;
  }
  .nav-inferior a {
    text-decoration: none;
    color: #7C7C7C;
    padding: 25px;
  }
  
  .ativo {
    border-top: solid #1d6ab0 3px;
  } */

/* CSS NAV INFERIOR
.nav-inferior {
    background-color: #ffffff;
    height: 10vh;
}
.nav-inferior a {
    text-decoration: none;
    color: #7C7C7C;
    font-size: 14px;
    height: 100%;
}

.selecionado, .ativo i{
    color: #1D6AB0;
}

.ativo {
    border-top: solid #1D6AB0 3px;
} */
