/* CSS Foto da Capa */
.capa img {
    padding: 0;
    height: 25vh;
    object-fit: cover;
    width: 100%;
  }
  
  /* CSS Foto do Usuário, Botões e Descrição */
  .usuario-foto {
    position: absolute;
    margin-top:-50px;
  }
  
  .usuario-botoes i {
    color: #7C7C7C;
  }
  
    /* Área clicável */
  .usuario-botoes a {
    padding: 18px;
  }
  
  .usuario-local i {
    color: #7C7C7C;
  }

  .botao {
    background-color: #1d6ab0;
    color: #ffffff;
    border-color: #064c8c;
  }


  /* FIM DO CSS ABA PERFIL */

  /* CSS DESKTOP */
  @media (min-width: 768px) {
    body {
      background-color:#f9f9f9;
    }
    .containerDesktop {
      max-width: 60vw;
      margin: auto;
    }
    .capa img {
      height: 25vh;
    }
  }

  