.banner-img {
    object-fit: cover;
    width: 100vw;
    height: 35vh;
  }



  .botao {
    background-color: #1d6ab0;
    color: #ffffff;
  }
  .botao:hover {
    background-color: #064c8c;
    color: #ffffff;
    border-color: #064c8c;
  }

  a {
      color: #ffffff;
  }

  a:hover {
    color: #ffffff;
    text-decoration: none;
}

.over {
    position: absolute;
    margin-top: -35vh;
    width: 100vw;
    height: 35vh;
    background-color: rgb(0,0,0, 0.7);
  }

  .card {
      outline: none;
  }

.card-header {
    background-color: #1d6ab0;
    color: #ffffff;
    }
    

.grupos-populares {
    background-image: url(../img/home/mapa.png);
}

@media (min-width: 768px) {
body{
    padding-bottom: 0vh;
  }
}