

/* banner img */
.banner-img img{
    object-fit: cover;
    width: 100%;
}


.titulo {
    position: absolute;
    margin-top: -35vh;
    letter-spacing: -1px;
    font-size: 1rem;
    background-image: linear-gradient(161deg, rgba(0, 0, 0, 0.3) 0%, transparent 100%);
    color: #ffffff;
 
}

.btn-cadastro{
    position: relative;
    /* background-color: #1D6AB0; */
    background-color: #1d6ab0;
    top: -90px;
    left: 150px;
    border: 0;
}
.btn-cadastro a{
    color: #ffffff;
    font-size: 1rem;
}
/* conteudo */
.conteudo{
    letter-spacing: -1px;
    font-size: 1rem;
}

/* carrousel Cards grupos populares */
section.grupos-populares{
    background-image: url("../../img/home/mapa.png");
    background-size: cover;

}
.card-header{
    background-color: #1d6ab0;
    color: #ffffff;
}

.card>img{  
    object-fit: cover;
    width: 100%;
    height: 38vh;
    
}


/* redes sociais */

.redes-sociais{
    background-color: #1d6ab0;
}




/* RESPONSIVE banner img */

@media (max-width: 767px) {
     /* RESPONSIVE banner img  */
    .banner-img img {
        height: 35vh;
    }
    .titulo{      
        width: 85%;
        height: 20vh;
        margin-top: -30vh;
        margin-left: 5vh;
        letter-spacing: -1px;
    }
    .btn-cadastro{
        margin-left: 5vh;
        margin-top: 5vh;    
    }
    .grupo-slide {
        margin-left: 13vw;
      }
}
@media (min-width: 768px) and (max-width: 1024px) {
    /* RESPONSIVE banner img */
    .banner-img img{
        height: 50vh;
    }
    .titulo{
      
        width: 70%;
        height: 20vh;
        margin-top: -45vh;
        margin-left: 25vh;
        letter-spacing: -1px;
    }
    .btn-cadastro{
        margin-left: 45vh;
        size: 3rem;
    }

}
@media (min-width: 1025px) {
    /* RESPONSIVE banner img */
    .banner-img img {
        height: 80vh;
    }
    .over-banner{
        margin-top: -15vh;
    }
    .titulo{
      
        width: 70%;
        height: 20vh;
        margin-top: -45vh;
        margin-left: 40vh;
        letter-spacing: -1px;
    }
    .btn-cadastro{
        margin-left: 70vh;
        size: 3rem;
    }
}


