/* CSS BANNER */

.banner-img {
  object-fit: cover;
  width: 100vw;
  height: 20vh;
}

.titulo {
  position: absolute;
  margin-top: -15vh;
}

/* CSS COMUNIDADE */

.btnGroupsAndTrips {
  color:  gray;
  max-width: 225px;
  background-color: #ffffff;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  border-radius: 7px;
}

.btnGroupsAndTrips:hover {
  text-decoration:none;
  color: gray;
}

.card-header {
  background-color: #1d6ab0;
  color: #ffffff;
}

.card .btn {
  background-color: #1d6ab0;
  color: #ffffff;
}

#comunidade-slider {
  margin-left: 18vw;
}

/* CSS CARD VIAGEM */

.filtro .btn {
  background-color: #1d6ab0;
  color: #ffffff;
  border-color: #064c8c;
}

.filtro .btn:focus {
  background-color: #0a3a66;
  color: #ffffff;
}

.filtro .btn:active {
  background-color: #1d6ab0;
  color: #ffffff;
}

.link-detalhes {
  text-decoration: underline;
}

.check {
  color: #1db954;
}

.favorite {
  color: #f54b5e;
}

.card-img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.foto-perfil {
  height: 40px;
  width: 40px;
  object-fit: cover;
}

/* CSS aba_criarGruposDeViagem */
.botao {
  background-color: #1d6ab0;
  color: #ffffff;
  border-color: #064c8c;
}
.botao:hover {
  background-color: #1d6ab0;
  color: #ffffff;
  border-color: #064c8c;
}

.botao_atencao {
  background-color: #CC293B;
  color:#ffffff;
  border-color: #A61121;
}

.botao_atencao:hover {
  background-color: #CC293B;
  color:#ffffff;
  border-color: #A61121;
}

.menu-voltar a {
  color: black;
}

.menu-voltar a:hover {
  text-decoration: none;
}

.menu-voltar{
  background-color: #f7f7f7;
  color: black;
  border: none;
}

  /* CSS DESKTOP */
  @media (min-width: 768px) {
    body {
      background-color:#f9f9f9;
    }
    .containerDesktop {
      max-width: 60vw;
      margin: auto;
    }
    .barraMenu{
      margin-left: 70px;
    }
    .banner-img {
      height: 25vh;
    }
  }
  